<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806749632299-ofog9tptutqrsrlt1e4f5juhhbnuittu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806749632299-ofog9tptutqrsrlt1e4f5juhhbnuittu</string>
	<key>API_KEY</key>
	<string>AIzaSyAhgYNrvji5TXXFXHBizHrGUxxl8JBNqhE</string>
	<key>GCM_SENDER_ID</key>
	<string>806749632299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coeApp</string>
	<key>PROJECT_ID</key>
	<string>coeapp-db</string>
	<key>STORAGE_BUCKET</key>
	<string>coeapp-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806749632299:ios:22bf0191486b5dd682f76e</string>
	<key>DATABASE_URL</key>
	<string>https://coeapp-db.firebaseio.com</string>
</dict>
</plist>